.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link,
.aside-menu .menu-nav > .menu-item > .menu-submenu .menu-subnav > .menu-item > .menu-link {
  padding-left: 50px !important;
}

.menu-text.title {
  font-size: 13px !important;
  font-weight: bold !important;
}

.menu-icon svg {
  fill: green
}

.menu-link:hover svg path {
  fill: white;
}

.active svg {
  fill: white
}
/* 
a.menu-link.active {
  border-radius: 10px;
} */

.menu-item {
  margin: 5px 11px !important;
}

.menu-item-submenu {
  margin: 5px 11px !important;
}

.menu-item a.menu-link {
  border-radius: 11px !important;
  /* display: block; */
}

.menu-subnav .menu-item {
  margin: 5px 0px !important;

}