.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link,
.aside-menu .menu-nav > .menu-item > .menu-submenu .menu-subnav > .menu-item > .menu-link {
  padding-left: 50px !important;
}

.menu-text.title {
  font-size: 13px !important;
  font-weight: bold !important;
}
