[class^="col-pc-"] {
  margin-right: 2.05rem;
}

@media all and (min-width: 1200px) {
  .col-pc-14 {
    flex: 0 0 calc(100% / 16 * 14);
  }
  .col-pc-13 {
    flex: 0 0 calc(100% / 16 * 13);
  }
  .col-pc-12 {
    flex: 0 0 calc(100% / 16 * 12);
  }
  .col-pc-11 {
    flex: 0 0 calc(100% / 16 * 11);
  }
  .col-pc-10 {
    flex: 0 0 calc(100% / 16 * 10);
  }
  .col-pc-9 {
    flex: 0 0 calc(100% / 16 * 9);
  }
  .col-pc-8 {
    flex: 0 0 calc(100% / 16 * 8);
  }
  .col-pc-7 {
    flex: 0 0 calc(100% / 16 * 7);
  }
  .col-pc-6 {
    flex: 0 0 calc(100% / 16 * 6);
  }
  .col-pc-5 {
    flex: 0 0 calc(100% / 16 * 5);
  }
  .col-pc-4 {
    flex: 0 0 calc(100% / 16 * 4);
  }
  .col-pc-3 {
    flex: 0 0 calc(100% / 16 * 3);
  }
  .col-pc-2 {
    flex: 0 0 calc(100% / 16 * 2);
  }
  .col-pc-1 {
    flex: 0 0 calc(100% / 16 * 1);
  }
}