.imagePreview {
    position: relative;

}

.imagePreview:hover {
    .close {
        visibility: visible;
    }
}

.close {
    visibility: hidden;

    position: absolute;

    width: 22px;
    height: 22px;

    border: 1px solid black;
    border-radius: 11px;
    background: black !important;
    font-size: 20px;
    color: white;
    text-align: center;

    cursor: pointer;

    top: 5px;
    right: 3px;
    z-index: 1000;
}

.button-add-image {
    background: none;
    width: 80px;
    height: 80px;
    border-radius: 0.42rem;
    border: 1px solid #E4E6EF;
}

