@import "../../../const";

.imagePreview {
  position: relative;

}

.imagePreview:hover {
  .close {
    visibility: visible;
  }
}

.close {
  visibility: hidden;
  position: absolute;
  background: transparent !important;
  font-size: 20px;
  font-weight: 600;
  color: $primary-color;
  text-align: center;

  cursor: pointer;

  top: 0;
  right: 0;
  z-index: 1000;
}

.button-add-image {
  background: none;
  width: 80px;
  height: 80px;
  border-radius: 0.42rem;
  border: 1px solid #E4E6EF;
}

