.ant-tree-select-custom {
    width: 100%;

    .ant-select-selector {
        border-radius: 0.42rem !important;
    }

    .ant-select-selector {
        height: calc(1.5em + 1.3rem + 0.5px) !important;
    }

    span.ant-select-selection-placeholder {
        margin-top: 1%;
    }
    
    span.ant-select-selection-item {
        margin-top: 1%;
    }

    
}

.ant-select-multiple {

    .ant-select-selector {
        border-radius: 0.42rem !important;
    }

    .ant-select-selector {
        height: calc(1.5em + 1.3rem + 0.5px) !important;
    }
    
}