.ant-tabs-tab.ant-tabs-tab-active {

    .ant-tabs-tab-btn {
        color: #1fa156 !important;
    }
}

.ant-tabs-tab:hover {
    color: #10813f !important;
    
}

.ant-tabs-ink-bar {
    background: #1fa156 !important;
}

.visibility:hover {
    .eye {
      color: white !important;
    }
  }

td {
    border: none !important
}


// .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn