// 3rd-party Plugins
@import "~highlight.js/styles/googlecode.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";

// Theme Styles
@import "./_metronic/_assets/sass/style.react.scss";

// Default Layout themes
@import "./_metronic/_assets/sass/themes/layout/header/base/light.scss";
@import "./_metronic/_assets/sass/themes/layout/header/menu/light.scss";
@import "./_metronic/_assets/sass/themes/layout/brand/dark.scss";
@import "./_metronic/_assets/sass/themes/layout/aside/dark.scss";
@import '~antd/dist/antd.css';

// Header themes
// Light
//@import "./_metronic/_assets/sass/themes/layout/header/base/light.scss";
// Dark
// @import "./_metronic/_assets/sass/themes/layout/header/base/dark.scss";

// Header Menu themes
// Light
//@import "./_metronic/_assets/sass/themes/layout/header/menu/light.scss";
// Dark
// @import "./_metronic/_assets/sass/themes/layout/header/menu/dark.scss";

// Brand themes
.brand-dark {
  @import "./_metronic/_assets/sass/themes/layout/brand/dark.scss";
}

// Light
.brand-light {
  @import "./_metronic/_assets/sass/themes/layout/brand/light.scss";
}

// Aside themes
// Dark
//@import "./_metronic/_assets/sass/themes/layout/aside/dark.scss";
// Light
// @import "./_metronic/_assets/sass/themes/layout/aside/light.scss";

// .example-highlight {
//   padding: 0rem 1.5rem 1.75rem !important;
// }

.example-highlight > pre {
  background: none transparent !important;
  margin: 0 !important;
  padding-top: 0.5rem;

  code {
    overflow-y: auto;
    display: block;

    span {
      background: none transparent !important;
    }
  }
}

.json > pre {
  background: none #fff !important;

}

.example-code > .json {
  background: none #fff !important;
}

.symbol.symbol-45 > svg {
  width: 100%;
  max-width: 45px;
  height: 45px;
}

.react-bootstrap-table {
  overflow-x: auto;
}

.is-valid {
  border-color: #0fc35c !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%230fc35c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
}

.react-bootstrap-table {
  th {
    outline: none;

    &.sortable {
      .svg-icon-sort {
        opacity: 0;
      }

      &:hover {
        cursor: pointer;

        .svg-icon-sort {
          opacity: 1;
        }
      }
    }
  }

  .table.table-head-custom thead tr {
    .sortable-active {
      color: $danger !important;
    }

    background-color: #F3F6F9;
  }
}

.cursor-default {
  cursor: default !important;
}

.sort-icon {
  position: absolute;
}

//
//.input-search-select {
//  border: 1px solid #E4E6EF !important;
//  border-radius: 0.42rem;
//
//  :focus {
//    border-color: #0fc35c !important;
//    outline-color: #0fc35c !important;
//    box-shadow: 0 0 0 1px transparent !important;
//
//
//  }
//
//  div:focus {
//    border-color: #0fc35c !important;
//    outline-color: #0fc35c !important;
//    box-shadow: 0 0 0 1px transparent !important;
//  }
//
//  :hover {
//    border-color: transparent !important;
//
//    > div {
//      border-color: transparent !important;
//    }
//  }
//
//
//  * {
//    border-color: transparent !important;
//  }
//}


/*primary: #0B9446*/

@media all and (min-width: 1200px) {
  .col-pc-24 {
    flex: 0 0 calc(100% / 24 * 24);
  }
  .col-pc-23 {
    flex: 0 0 calc(100% / 24 * 23);
  }
  .col-pc-22 {
    flex: 0 0 calc(100% / 24 * 22);
  }
  .col-pc-21 {
    flex: 0 0 calc(100% / 24 * 21);
  }
  .col-pc-20 {
    flex: 0 0 calc(100% / 24 * 20);
  }
  .col-pc-19 {
    flex: 0 0 calc(100% / 24 * 19);
  }
  .col-pc-18 {
    flex: 0 0 calc(100% / 24 * 18);
  }
  .col-pc-17 {
    flex: 0 0 calc(100% / 24 * 17);
  }
  .col-pc-16 {
    flex: 0 0 calc(100% / 24 * 16);
  }
  .col-pc-15 {
    flex: 0 0 calc(100% / 24 * 15);
  }
  .col-pc-14 {
    flex: 0 0 calc(100% / 24 * 14);
  }
  .col-pc-13 {
    flex: 0 0 calc(100% / 24 * 13);
  }
  .col-pc-12 {
    flex: 0 0 calc(100% / 24 * 12);
  }
  .col-pc-11 {
    flex: 0 0 calc(100% / 24 * 11);
  }
  .col-pc-10 {
    flex: 0 0 calc(100% / 24 * 10);
  }
  .col-pc-9 {
    flex: 0 0 calc(100% / 24 * 9);
  }
  .col-pc-8 {
    flex: 0 0 calc(100% / 24 * 8);
  }
  .col-pc-7 {
    flex: 0 0 calc(100% / 24 * 7);
  }
  .col-pc-6 {
    flex: 0 0 calc(100% / 24 * 6);
  }
  .col-pc-5 {
    flex: 0 0 calc(100% / 24 * 5);
  }
  .col-pc-4 {
    flex: 0 0 calc(100% / 24 * 4);
  }
  .col-pc-3 {
    flex: 0 0 calc(100% / 24 * 3);
  }
  .col-pc-2 {
    flex: 0 0 calc(100% / 24 * 2);
  }
  .col-pc-1 {
    flex: 0 0 calc(100% / 24 * 1);
  }
}

@media all and (min-width: 992px) {
  .col-tablet-24 {
    flex: 0 0 calc(100% / 24 * 24);
  }
  .col-tablet-23 {
    flex: 0 0 calc(100% / 24 * 23);
  }
  .col-tablet-22 {
    flex: 0 0 calc(100% / 24 * 22);
  }
  .col-tablet-21 {
    flex: 0 0 calc(100% / 24 * 21);
  }
  .col-tablet-20 {
    flex: 0 0 calc(100% / 24 * 20);
  }
  .col-tablet-19 {
    flex: 0 0 calc(100% / 24 * 19);
  }
  .col-tablet-18 {
    flex: 0 0 calc(100% / 24 * 18);
  }
  .col-tablet-17 {
    flex: 0 0 calc(100% / 24 * 17);
  }
  .col-tablet-16 {
    flex: 0 0 calc(100% / 24 * 16);
  }
  .col-tablet-15 {
    flex: 0 0 calc(100% / 24 * 15);
  }
  .col-tablet-14 {
    flex: 0 0 calc(100% / 24 * 14);
  }
  .col-tablet-13 {
    flex: 0 0 calc(100% / 24 * 13);
  }
  .col-tablet-12 {
    flex: 0 0 calc(100% / 24 * 12);
  }
  .col-tablet-11 {
    flex: 0 0 calc(100% / 24 * 11);
  }
  .col-tablet-10 {
    flex: 0 0 calc(100% / 24 * 10);
  }
  .col-tablet-9 {
    flex: 0 0 calc(100% / 24 * 9);
  }
  .col-tablet-8 {
    flex: 0 0 calc(100% / 24 * 8);
  }
  .col-tablet-7 {
    flex: 0 0 calc(100% / 24 * 7);
  }
  .col-tablet-6 {
    flex: 0 0 calc(100% / 24 * 6);
  }
  .col-tablet-5 {
    flex: 0 0 calc(100% / 24 * 5);
  }
  .col-tablet-4 {
    flex: 0 0 calc(100% / 24 * 4);
  }
  .col-tablet-3 {
    flex: 0 0 calc(100% / 24 * 3);
  }
  .col-tablet-2 {
    flex: 0 0 calc(100% / 24 * 2);
  }
  .col-tablet-1 {
    flex: 0 0 calc(100% / 24 * 1);
  }
}

@media all and (min-width: 768px) {
  .col-mobile-24 {
    flex: 0 0 calc(100% / 24 * 24);
  }
  .col-mobile-23 {
    flex: 0 0 calc(100% / 24 * 23);
  }
  .col-mobile-22 {
    flex: 0 0 calc(100% / 24 * 22);
  }
  .col-mobile-21 {
    flex: 0 0 calc(100% / 24 * 21);
  }
  .col-mobile-20 {
    flex: 0 0 calc(100% / 24 * 20);
  }
  .col-mobile-19 {
    flex: 0 0 calc(100% / 24 * 19);
  }
  .col-mobile-18 {
    flex: 0 0 calc(100% / 24 * 18);
  }
  .col-mobile-17 {
    flex: 0 0 calc(100% / 24 * 17);
  }
  .col-mobile-16 {
    flex: 0 0 calc(100% / 24 * 16);
  }
  .col-mobile-15 {
    flex: 0 0 calc(100% / 24 * 15);
  }
  .col-mobile-14 {
    flex: 0 0 calc(100% / 24 * 14);
  }
  .col-mobile-13 {
    flex: 0 0 calc(100% / 24 * 13);
  }
  .col-mobile-12 {
    flex: 0 0 calc(100% / 24 * 12);
  }
  .col-mobile-11 {
    flex: 0 0 calc(100% / 24 * 11);
  }
  .col-mobile-10 {
    flex: 0 0 calc(100% / 24 * 10);
  }
  .col-mobile-9 {
    flex: 0 0 calc(100% / 24 * 9);
  }
  .col-mobile-8 {
    flex: 0 0 calc(100% / 24 * 8);
  }
  .col-mobile-7 {
    flex: 0 0 calc(100% / 24 * 7);
  }
  .col-mobile-6 {
    flex: 0 0 calc(100% / 24 * 6);
  }
  .col-mobile-5 {
    flex: 0 0 calc(100% / 24 * 5);
  }
  .col-mobile-4 {
    flex: 0 0 calc(100% / 24 * 4);
  }
  .col-mobile-3 {
    flex: 0 0 calc(100% / 24 * 3);
  }
  .col-mobile-2 {
    flex: 0 0 calc(100% / 24 * 2);
  }
  .col-mobile-1 {
    flex: 0 0 calc(100% / 24 * 1);
  }
}
