.modal-header {
  border-bottom: 0;
}

.table th, .table td {
  // padding: 0.75rem;
  // vertical-align: top;
  border-top: 0;
}

.modal-footer {
  border-top: 0;
}

.table td:nth-child(1) {
  width: '40%';
}

@media (min-width: 1200px) {
  .modal-lg, .modal-xl {
    max-width: 1100px;
  }
}
